job_intro_translation_analysis-599208.out
runs/translation_superposition/projector_config.pbtxt
runs/translation_superposition/00000/Word Embeddings/metadata.tsv
runs/translation_superposition/00000/Word Embeddings/tensors.tsv
runs/translation_superposition/00100/Word Embeddings/metadata.tsv
runs/translation_superposition/00100/Word Embeddings/tensors.tsv
runs/translation_superposition/00200/Word Embeddings/metadata.tsv
runs/translation_superposition/00200/Word Embeddings/tensors.tsv
runs/translation_superposition/00300/Word Embeddings/metadata.tsv
runs/translation_superposition/00300/Word Embeddings/tensors.tsv
runs/translation_superposition/00400/Word Embeddings/metadata.tsv
runs/translation_superposition/00400/Word Embeddings/tensors.tsv
runs/translation_superposition/00500/Word Embeddings/metadata.tsv
runs/translation_superposition/00500/Word Embeddings/tensors.tsv
runs/translation_superposition/00600/Word Embeddings/metadata.tsv
runs/translation_superposition/00600/Word Embeddings/tensors.tsv
runs/translation_superposition/00700/Word Embeddings/metadata.tsv
runs/translation_superposition/00700/Word Embeddings/tensors.tsv
runs/translation_superposition/00800/Word Embeddings/metadata.tsv
runs/translation_superposition/00800/Word Embeddings/tensors.tsv
runs/translation_superposition/00900/Word Embeddings/metadata.tsv
runs/translation_superposition/00900/Word Embeddings/tensors.tsv
runs/translation_superposition/01000/Word Embeddings/metadata.tsv
runs/translation_superposition/01000/Word Embeddings/tensors.tsv
runs/translation_superposition/01100/Word Embeddings/metadata.tsv
runs/translation_superposition/01100/Word Embeddings/tensors.tsv
runs/translation_superposition/01200/Word Embeddings/metadata.tsv
runs/translation_superposition/01200/Word Embeddings/tensors.tsv
runs/translation_superposition/01300/Word Embeddings/metadata.tsv
runs/translation_superposition/01300/Word Embeddings/tensors.tsv
runs/translation_superposition/01400/Word Embeddings/metadata.tsv
runs/translation_superposition/01400/Word Embeddings/tensors.tsv
runs/translation_superposition/01500/Word Embeddings/metadata.tsv
runs/translation_superposition/01500/Word Embeddings/tensors.tsv
runs/translation_superposition/01600/Word Embeddings/metadata.tsv
runs/translation_superposition/01600/Word Embeddings/tensors.tsv
runs/translation_superposition/01700/Word Embeddings/metadata.tsv
runs/translation_superposition/01700/Word Embeddings/tensors.tsv
runs/translation_superposition/01800/Word Embeddings/metadata.tsv
runs/translation_superposition/01800/Word Embeddings/tensors.tsv
runs/translation_superposition/01900/Word Embeddings/metadata.tsv
runs/translation_superposition/01900/Word Embeddings/tensors.tsv
runs/translation_superposition/02000/Word Embeddings/metadata.tsv
runs/translation_superposition/02000/Word Embeddings/tensors.tsv
runs/translation_superposition/02100/Word Embeddings/metadata.tsv
runs/translation_superposition/02100/Word Embeddings/tensors.tsv
runs/translation_superposition/02200/Word Embeddings/metadata.tsv
runs/translation_superposition/02200/Word Embeddings/tensors.tsv
runs/translation_superposition/02300/Word Embeddings/metadata.tsv
runs/translation_superposition/02300/Word Embeddings/tensors.tsv
runs/translation_superposition/02400/Word Embeddings/metadata.tsv
runs/translation_superposition/02400/Word Embeddings/tensors.tsv
runs/translation_superposition/02500/Word Embeddings/metadata.tsv
runs/translation_superposition/02500/Word Embeddings/tensors.tsv
runs/translation_superposition/02600/Word Embeddings/metadata.tsv
runs/translation_superposition/02600/Word Embeddings/tensors.tsv
runs/translation_superposition/02700/Word Embeddings/metadata.tsv
runs/translation_superposition/02700/Word Embeddings/tensors.tsv
runs/translation_superposition/02800/Word Embeddings/metadata.tsv
runs/translation_superposition/02800/Word Embeddings/tensors.tsv
runs/translation_superposition/02900/Word Embeddings/metadata.tsv
runs/translation_superposition/02900/Word Embeddings/tensors.tsv
runs/translation_superposition/03000/Word Embeddings/metadata.tsv
runs/translation_superposition/03000/Word Embeddings/tensors.tsv
runs/translation_superposition/03100/Word Embeddings/metadata.tsv
runs/translation_superposition/03100/Word Embeddings/tensors.tsv
runs/translation_superposition/03200/Word Embeddings/metadata.tsv
runs/translation_superposition/03200/Word Embeddings/tensors.tsv
runs/translation_superposition/03300/Word Embeddings/metadata.tsv
runs/translation_superposition/03300/Word Embeddings/tensors.tsv
runs/translation_superposition/03400/Word Embeddings/metadata.tsv
runs/translation_superposition/03400/Word Embeddings/tensors.tsv
runs/translation_superposition/03500/Word Embeddings/metadata.tsv
runs/translation_superposition/03500/Word Embeddings/tensors.tsv
runs/translation_superposition/03600/Word Embeddings/metadata.tsv
runs/translation_superposition/03600/Word Embeddings/tensors.tsv
runs/translation_superposition/03700/Word Embeddings/metadata.tsv
runs/translation_superposition/03700/Word Embeddings/tensors.tsv
runs/translation_superposition/03800/Word Embeddings/metadata.tsv
runs/translation_superposition/03800/Word Embeddings/tensors.tsv
runs/translation_superposition/03900/Word Embeddings/metadata.tsv
runs/translation_superposition/03900/Word Embeddings/tensors.tsv
runs/translation_superposition/04000/Word Embeddings/metadata.tsv
runs/translation_superposition/04000/Word Embeddings/tensors.tsv
runs/translation_superposition/04100/Word Embeddings/metadata.tsv
runs/translation_superposition/04100/Word Embeddings/tensors.tsv
runs/translation_superposition/04200/Word Embeddings/metadata.tsv
runs/translation_superposition/04200/Word Embeddings/tensors.tsv
runs/translation_superposition/04300/Word Embeddings/metadata.tsv
runs/translation_superposition/04300/Word Embeddings/tensors.tsv
runs/translation_superposition/04400/Word Embeddings/metadata.tsv
runs/translation_superposition/04400/Word Embeddings/tensors.tsv
runs/translation_superposition/04500/Word Embeddings/metadata.tsv
runs/translation_superposition/04500/Word Embeddings/tensors.tsv
runs/translation_superposition/04600/Word Embeddings/metadata.tsv
runs/translation_superposition/04600/Word Embeddings/tensors.tsv
runs/translation_superposition/04700/Word Embeddings/metadata.tsv
runs/translation_superposition/04700/Word Embeddings/tensors.tsv
runs/translation_superposition/04800/Word Embeddings/metadata.tsv
runs/translation_superposition/04800/Word Embeddings/tensors.tsv
runs/translation_superposition/04900/Word Embeddings/metadata.tsv
runs/translation_superposition/04900/Word Embeddings/tensors.tsv
